/*this page was created by @luqmonaq*/
body{
    padding: 0;
    margin: 0;
}
header{
    width: auto;
    height: 15vh;
    background: rgb(26, 26, 194);
    color: rgb(255, 255, 255);
}
.topnav {
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0fecaa;
    color: white;
  }
.header{
    text-align: center;
    align-content: center;
    padding-top: 30px;
    
}
.welcome{
    font-family: cursive;
    font-size: 30px;
}
.welcome-first{
    display: flex;
}
.first{
    flex: 1;
    background: linear-gradient(-45deg, rgba(20, 142, 173, 0.952) ,rgba(20,142,173,0.91),rgba(119,23,193,0.95) ,rgba(119,23,193,1)), url(/images/sheldon.jpg) 20%;
    height: 100vh;
    color: aliceblue;
    display: flex;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
}
.second{
    flex: 1;
    background: rgba(255, 255, 255, 0.596);
    width: auto;
    height: 100vh;
    display: flex;
    color: rgba(5, 155, 255, 0.993);
}
h1,h2,h3,p{
    text-align: center; 
}
.inner{
    margin: auto;
}
.team{
    line-height: 1.2rem;
    font-size: 18px;
}
.csh{
    font-size: 30px;
}
.successful{
    font-family: cursive;
    font-size: 40px;
}
.last{
    font-size: 18px;
}
